name: GitHub CI

on:
-   push
-   pull_request
-   workflow_dispatch

jobs:
    windowsBuild:
        name: Windows Build
        runs-on: windows-2022
        env:
            BUILD_PROJECT: llvm
            BUILD_MASTER: false
            LLVM_VERSION: 13.0.1

        strategy:
            fail-fast: false
            matrix:
                CRT:
                -   msvcrt
                -   libcmt

                TARGET_CPU:
                -   x86
                -   amd64

                CONFIGURATION:
                -   Debug
                -   Release

        steps:
        -   name: Checkout repo
            uses: actions/checkout@v2

        -   name: Install
            shell: cmd
            run: |
                call %GITHUB_WORKSPACE%\set-env.bat msvc17 ${{matrix.CRT}} ${{matrix.TARGET_CPU}} ${{matrix.CONFIGURATION}}
                call %GITHUB_WORKSPACE%\install.bat

        -   name: Build and test
            id: BUILD
            shell: cmd
            run: |
                call %GITHUB_WORKSPACE%\set-env.bat msvc17 ${{matrix.CRT}} ${{matrix.TARGET_CPU}} ${{matrix.CONFIGURATION}}
                call %GITHUB_WORKSPACE%\build.bat
                echo ::set-output name=DEPLOY_FILE::%DEPLOY_FILE%
        -   name: Upload artifact
            uses: actions/upload-artifact@v3
            with:
                name: ${{BUILD_PROJECT}}-${{LLVM_VERSION}}-windows-${{matrix.TARGET_CPU}}-${{matrix.CRT}}-${{matrix.CONFIGURATION}}
                path: ${{steps.BUILD.outputs.DEPLOY_FILE}}
